#user_images_div
	width: 100%
	height: 10%
	// margin-bottom: 0.7rem

#select_files_fake
	display: block
	margin-inline: auto
	margin-block: auto

	width: 80%
	height: 90%

	border: 1px solid var(--secondBorderColor)
	border-right: 2px solid var(--secondBorderColor)
	border-bottom: 2px solid var(--secondBorderColor)
	background-color: var(--popUpColor)

	color: var(--fontColor)

	cursor: pointer

#select_files_fake:hover
	border-color: var(--mainBorderColor)

