#background_settings_div
    position: absolute
    z-index: 10

    width: 19rem
    height: 29rem
    padding: 0.3rem

    border: 1px solid var(--secondBorderColor)
    border-right: 2px solid var(--mainBorderColor)
    border-bottom: 2px solid var(--mainBorderColor)
    border-radius: 5px
    background-color: var(--innerTaskColor)
    
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    display: none

    cursor: default

    @include screen-width-between($phone...)
        top: -29.85rem
        left: -5rem
        
    @include screen-width-between($desktop...)
        top: -11rem
        left: -19.5rem
    
#background_div:hover + #background_settings_div
    display: flex

#background_settings_div:hover
    display: flex