.is-list-selected
    border-left: 4px solid var(--mainBorderColor)
    background-color: var(--popUpColor)
    
.is-list-deleted
    transform-origin: center bottom !important
    transform: rotateX(90deg) !important
    opacity: 0 !important
    transition: transform 400ms ease-in, opacity 400ms ease-in-out