.is-element-highlighted
  z-index: 21
  // box-shadow: 5px 5px 10px 1px var(--mainBorderColor)
  transition: transform 500ms ease-in

  transform: scale(1.05)

  // &::after
  //   position: relative
  //   content: "Damn"
  //   width: 30px
  //   height: 30px
  //   background-color: aqua

  //   left: 40px

.is-confirmation-required
  transform: translateY(50%) scale(1) !important
  pointer-events: all !important

